<script class="include" type="text/javascript" src="/assets/jquery.jqplot.min.js"></script>
<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot.barRenderer.min.js"></script>
<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot.categoryAxisRenderer.min.js"></script>
<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot.pointLabels.min.js"></script>
<script type="text/javascript">
	$(function() { });
	var refresh = function() {  
		$.get('/pages/plot_values',
					function(data)
					{
						// alert(data.times);
						$('#chart').html('').width((18*data.times.length)+30);
						$('#content').width(Math.max((18*data.times.length)+60,800));
						$('#rndTweets').html('');
						for(i = 0; i < data.tweets.length; i++)
							$('#rndTweets').append('<li>' + data.tweets[i] + '</li>');
						$('#stats').html(data.total)
						var plot1 = $.jqplot('chart', [data.vals], {
						        seriesDefaults:{
						            renderer:$.jqplot.BarRenderer,
						            rendererOptions: {fillToZero: true}
						        },
						        series:[
						            {label:'Tweets'}
						        ],
						        axes: {
						            xaxis: {
						                renderer: $.jqplot.CategoryAxisRenderer,
						                ticks: data.times,
										label: 'minutes ago'
						            },
						            yaxis: {
						                pad: 1.05
						            }
						        }
						    });
						setTimeout(refresh,10000);
						});
					};
		setTimeout(refresh,2500);
</script>
<div><p id="stats"></p>
	<p>Random Tweets:
	<p><ul id="rndTweets" style="list-style:none;">
	</ul></p>
	<p>
		<%= form_for(:track, :url => pages_new_path) do |f| %>
			<%= f.label :filter %> <%=f.text_field :filter%>
			<%= f.submit "Start" %>
			<% end %>
		</p>
</div>


<div id="chart" style="margin-left:auto;margin-right:auto;height:300px;" />

